* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/patt.png");
}

.header {
  padding: 25px 0 24px 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  width: 25%;
}

.col-md-6 {
  width: 50%;
}

.logo {
  margin-top: 8px;
}

.menu>li {
  width: 25%;
  float: left;
  border-left: 1px solid #2c71b8;
  position: relative;
}

.menu>li:last-child {
  border-right: 1px solid #2c71b8;
}

.arrow {
  background: url(images/bluearrow.png) no-repeat 92% 50%;
}

.menu>li>a {
  text-decoration: none;
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #2c71b8;
  font-size: 21px;
}

.menu>li:hover a {
  color: white;
  background-color: #2c71b8;
}

.arrow:hover>a {
  background: url(images/whitearrow.png) no-repeat 92% 50%;
}

.col-md-10 {
  width: 76.7%;
}

.col-md-2 {
  width: 23.3%;
}

.search {
  width: 200px;
  height: 40px;
  border: 1px solid rgb(44, 113, 184);
  margin-top: 5px;
}

.searchfield {
  width: 155px;
  height: 38px;
  vertical-align: top;
  background-color: unset;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: rgb(44, 113, 184);
  padding: 0 0 0 19px;
}

.search-field::placeholder {
  font-size: 21px;
  color: rgb(44, 113, 184);
  font-family: "Roboto", sans-serif;
}

.submit-search {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(images/icon4.png) no-repeat 50% 50%;
  background-color: rgb(44, 113, 184);
  margin: 4px;
  padding: 0;
}

.basket {
  width: 40px;
  height: 40px;
  background: white url(images/icon1.png) no-repeat 50% 50%;
  position: relative;
  margin-top: 5px;
}

.productcount {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 12px;
  background-color: rgb(44, 113, 184);
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.submenu {
  display: none;
  position: absolute;
  left: -1px;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: rgb(44, 113, 184);
}

.submenu>li>a {
  text-decoration: none;
  display: block;
  width: 286px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 30px;
  color: white;
  font-size: 21px;
}

.menu>li:hover>.submenu {
  display: block;
}

.submenu>li:hover>a {
  background-color: white;
  color: rgb(44, 113, 184);
}

.slider {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
}

.col-md-12 {
  width: 100%;
}

.slidebar {
  text-align: center;
  height: 400px;
  line-height: 400px;
  color: white;
  font-size: 100px;
}

.filter {
  padding-left: 30px;
  height: 843px;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid white;
}
.filter-option {
  padding-top: 33px;
  padding-bottom: 22px;
}

.filter-title {
  color: white;
  font-size: 21px;
  font-weight: bold;
}
.filter-menu span {
  color: white;
  font-size: 21px;
  padding-left: 10px;
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  display: none;
}
label:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 23px;
}
input[type="checkbox"]:checked + label:before {
  background-color: white;
}

.showmoreoptions {
  padding-top: 8px;
  padding-bottom: 15px;
}
.showmoreoptions a {
  text-decoration: none;
  color: white;
  font-size: 21px;
  cursor: pointer;
}

.breadcrums {
  padding-top: 15px;
  padding-bottom: 15px;
}

.breadcrums a {
  text-decoration: none;
  color: white;
}

.breadcrums a:hover {
  text-decoration: underline;
}

.breadcrums span {
  color: white;
  text-decoration: underline;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.7%;
}

.col-md-4 {
  width: 33.3%;
}

.title-l-t {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.sort {
  margin-top: 5px;
  width: 270px;
  height: 40px;
  background: none;
  outline: none;
  border-color: white;
  color: white;
  font-size: 21px;
}

.sort option {
  width: 40px;
  background-color: rgb(44, 113, 184);
}

.products {
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(44, 113, 183, 0.75);
  color: white;
}

.product-image {
  background-color: rgba(255, 255, 255, 0.55);
  position: relative;
}

.product-image>a {
  display: block;
  height: 180px;
}

.product-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.lookclose,
.wishlist {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(44, 113, 184);
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 228px;
}

.lookclose {
  background: url(images/icon8.png) no-repeat 50% 50%;
  top: 10px;
  right: 10px;
}

.wishlist {
  background: url(images/icon5.png) no-repeat 50% 50%;
  top: 50px;
  right: 10px;
}

.lookclose:hover {
  background: rgb(44, 113, 184) url(images/icon6.png) no-repeat 50% 50%;
}

.wishlist:hover {
  background: rgb(44, 113, 184) url(images/icon7.png) no-repeat 50% 50%;
}

[class*="product-"] {
  padding-top: 15px;
  padding-left: 15px;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
}

.product-discription {
  font-size: 21px;
  line-height: 1.5em;
  padding-right: 20px;
}

.product-features {
  font-size: 21px;
}

.product-features span {
  font-weight: bold;
}

.product-price {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.product-price sup {
  font-size: 21px;
}

.details,
.addtocart {
  text-align: center;
}

.addtocart, .filtersubmit  {
  padding-top: 15px;
  padding-bottom: 30px;
}

.details button,
.addtocart button, .filtersubmit button {
  width: 210px;
  height: 50px;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  font-weight: bold;
  background-color:  rgb(44, 113, 184);
  outline: none;
  cursor: pointer;
}

.addtocart button {
  background:  rgb(44, 113, 184) url(images/icon2.png) no-repeat 92% 47%;
  padding-right: 20px;
}

.details button:hover,
.addtocart button:hover, .filtersubmit button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.loadmore {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 90px;
}

.loadmore a {
  text-decoration: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.footer {
  padding: 40px 0 39px 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.footer-info {
  font-size: 21px;
  color: #2c71b8;
  text-align: center;
}